/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.home-arrow-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.home-arrow-button-text {
  border: none;
  background: #FFFFFF;
  color: black;
  cursor: pointer
}
