<div style="min-height: 100vh; padding: 5rem">
  <a routerLink="/" class="back-to-home"><i class="pi pi-arrow-left" style="padding-right: 1rem; font-size: inherit"></i>Επιστροφή στην κεντρική σελίδα</a>
  <div class="basket-container">
    <div><i class="pi pi-shopping-cart" style="padding-right: 1rem; font-size: inherit"></i>Καλάθι αγορών</div>
  </div>
  <div class="no-content-container" *ngIf="shopping_cart_items.length == 0">
    Το καλάθι αγορών είναι άδειο!
  </div>
  <div *ngIf="shopping_cart_items.length != 0" style="margin: 4rem 0">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Τίτλος</th>
        <th scope="col">Τύπος</th>
        <th scope="col">Ποσότητα</th>
        <th scope="col">Τιμή</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of shopping_cart_items">
        <th scope="row">{{item.thumbnail}}</th>
        <td>{{item.title}}</td>
        <td>{{item.type}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price}}<i class="pi pi-euro"></i></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="buy-button-container">
    <div class="buy-button" (click)="storeOrder()" *ngIf="shopping_cart_items.length != 0"><i class="pi pi-shopping-cart" style="font-size: 2rem; padding-right: 0.3rem"></i>Ολοκλήρωση αγοράς</div>
  </div>
</div>
