<div style="min-height: 100vh; padding: 5rem;">
  <div class="send-order" *ngIf="orderSend">
    <p-progress-spinner ariaLabel="loading" strokeWidth="8" fill="transparent" [style]="{ width: '100px' }"/>
  </div>
  <a routerLink="/" class="back-to-home"><i class="pi pi-arrow-left" style="padding-right: 1rem; font-size: inherit"></i>Επιστροφή στην κεντρική σελίδα</a>
  <div class="basket-container">
    <div><i class="pi pi-shopping-cart" style="padding-right: 1rem; font-size: inherit"></i>Καλάθι αγορών</div>
  </div>
  <div class="no-content-container" *ngIf="shopping_cart_items.length == 0">
    Το καλάθι αγορών είναι άδειο!
  </div>
  <div *ngIf="shopping_cart_items.length != 0" style="margin: 4rem 0">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Τίτλος</th>
        <th scope="col">Τύπος</th>
        <th scope="col">Ποσότητα</th>
        <th scope="col">Τιμή του ενός</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of shopping_cart_items; let i = index">
        <th scope="row"><img [src]="item.thumbnail" alt="movie-poster" height="150" width="100"></th>
        <td style="vertical-align: middle"><div >{{item.title}}</div></td>
        <td style="vertical-align: middle"><div>{{item.type}}</div></td>
        <td style="vertical-align: middle"><div>{{item.quantity}}</div></td>
        <td style="vertical-align: middle"><div>{{item.price}} <i class="pi pi-euro"></i></div></td>
        <td class="delete-button" (click)="removeItemFromShoppingCart(i)"><i style="color: red" class="pi pi-times"></i></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Σύνολο</td>
        <td>{{total_cost}} <i class="pi pi-euro"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="buy-button-container">
    <p-toast />
    <div class="trash-button" (click)="removeAllFromCart()" *ngIf="shopping_cart_items.length != 0"><i class="pi pi-trash" style="font-size: 2rem; padding-right: 0.3rem"></i>Αφαίρεση όλων</div>
    <div class="buy-button" (click)="storeOrder()" *ngIf="shopping_cart_items.length != 0"><i class="pi pi-shopping-cart" style="font-size: 2rem; padding-right: 0.3rem"></i>Ολοκλήρωση αγοράς</div>
  </div>
</div>
